.doble-farsi {
	display: flex;
	flex-direction: column;
	//border: 1px solid red;
	margin-bottom: 4%;
	margin-top: 5%;
	
	font-family: 'Vazirmatn', 'Lateef', sans-serif;
}

.download-lang {
	width: 98.5%;
	display: flex;
	justify-content: center;
	background-color: #5F4587;
	color: white;
	font-size: 15px;
	margin-bottom: 1%;
	margin-left: auto;
	margin-right: auto;
}

.doblors {
	color: #212529;
	font-size: 13px;
	align-items: right;
	margin-right: 1%;
}

.link {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px;
	margin-top: 3%;
	padding-bottom: 2%;
	border-bottom: 2px dashed rgb(100, 100, 100);
	margin-left: auto;
	margin-right: auto;
}

.link:last-child {
	border-bottom: none;
}

.link p {
	color: #007bFF;
	font-size: 13px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 3.5%;
	cursor: pointer;
}

.link p a {
	text-decoration: none;
	color: #007bFF
}

.link p a:hover {
	color: #FF0000;
	opacity: 0.7;
}


.original {
	display: flex;
	flex-direction: column;
	//border: 1px solid red;
	margin-bottom: 4%;
	margin-top: 5%;
	
	font-family: 'Vazirmatn', 'Lateef', sans-serif;
}

.download-lang-original {
	width: 98.5%;
	display: flex;
	justify-content: center;
	background-color: #800000;
	color: white;
	font-size: 15px;
	margin-bottom: 1%;
	margin-left: auto;
	margin-right: auto;
}